n8n_digest_workflow.json
{
  "name": "Second Brain - Digest & Weekly Review (V2.3)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 8
            }
          ]
        },
        "options": {
          "timezone": "America/New_York"
        }
      },
      "name": "Schedule (Daily 8am ET)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "Weekly Review Day",
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ new Date().getDay() }}",
                    "rightValue": "={{ $env.WEEKLY_REVIEW_DAY || 0 }}",
                    "operator": { "type": "number", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputKey": "Regular Day",
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ new Date().getDay() }}",
                    "rightValue": "={{ $env.WEEKLY_REVIEW_DAY || 0 }}",
                    "operator": { "type": "number", "operation": "notEquals" }
                  }
                ]
              }
            }
          ]
        }
      },
      "name": "Check Day",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [300, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $env.NOTION_DB_TASKS }}",
        "filterType": "manual",
        "matchType": "all",
        "filters": {
          "conditions": [
            {
              "key": "created_time",
              "condition": "on_or_after",
              "value": "={{ DateTime.now().minus({days: 1}).toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "returnAll": true
      },
      "name": "Fetch Tasks (Yesterday)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [500, 100],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $env.NOTION_DB_INBOX }}",
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "created_time",
              "condition": "on_or_after",
              "value": "={{ DateTime.now().minus({days: 1}).toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "returnAll": true
      },
      "name": "Fetch Inbox (Yesterday)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [500, 250],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $env.NOTION_DB_PEOPLE }}",
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "created_time",
              "condition": "on_or_after",
              "value": "={{ DateTime.now().minus({days: 7}).toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "returnAll": true
      },
      "name": "Fetch People (Last 7 Days)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [500, 450],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $env.NOTION_DB_RESOURCES }}",
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "created_time",
              "condition": "on_or_after",
              "value": "={{ DateTime.now().minus({days: 7}).toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "returnAll": true
      },
      "name": "Fetch Ideas (Last 7 Days)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [500, 600],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge and format daily items for Claude\n// Filter out completed/archived items\nconst allTasks = $('Fetch Tasks (Yesterday)').all() || [];\nconst allInbox = $('Fetch Inbox (Yesterday)').all() || [];\n\n// Filter out completed items (Status = 'Done' or 'Archived')\nconst tasks = allTasks.filter(item => {\n  const status = item.json.properties?.Status?.select?.name || '';\n  return status !== 'Done' && status !== 'Archived' && status !== 'Completed';\n});\n\nconst inbox = allInbox.filter(item => {\n  const status = item.json.properties?.Status?.select?.name || '';\n  return status !== 'Done' && status !== 'Archived' && status !== 'Completed';\n});\n\n// Check if we have any items\nconst totalItems = tasks.length + inbox.length;\n\nif (totalItems === 0) {\n  return [{ json: { isEmpty: true, message: 'No new items from yesterday.' } }];\n}\n\n// Format items for readability\nconst formatItem = (item) => {\n  const props = item.json.properties || {};\n  const title = props.Title?.title?.[0]?.text?.content || props.Name?.title?.[0]?.text?.content || 'Untitled';\n  const summary = props.Summary?.rich_text?.[0]?.text?.content || '';\n  const status = props.Status?.select?.name || '';\n  return `- ${title}${status ? ` [${status}]` : ''}${summary ? `: ${summary}` : ''}`;\n};\n\nlet content = '';\n\nif (tasks.length > 0) {\n  content += `TASKS (${tasks.length}):\\n`;\n  content += tasks.map(formatItem).join('\\n');\n  content += '\\n\\n';\n}\n\nif (inbox.length > 0) {\n  content += `INBOX ITEMS (${inbox.length}):\\n`;\n  content += inbox.map(formatItem).join('\\n');\n}\n\nreturn [{ json: { isEmpty: false, formattedContent: content, taskCount: tasks.length, inboxCount: inbox.length } }];"
      },
      "name": "Format Daily Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 175]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "leftValue": "={{ $json.isEmpty }}",
              "rightValue": "true",
              "operator": { "type": "boolean", "operation": "false" }
            }
          ]
        }
      },
      "name": "Has Daily Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 175]
    },
    {
      "parameters": {
        "jsCode": "// Merge and format weekly items for Claude\nconst people = $('Fetch People (Last 7 Days)').all() || [];\nconst ideas = $('Fetch Ideas (Last 7 Days)').all() || [];\n\n// Check if we have any items\nconst totalItems = people.length + ideas.length;\n\nif (totalItems === 0) {\n  return [{ json: { isEmpty: true, message: 'No new people or ideas this week.' } }];\n}\n\n// Format items for readability\nconst formatPerson = (item) => {\n  const props = item.json.properties || {};\n  const name = props.Name?.title?.[0]?.text?.content || 'Unknown';\n  const notes = props.Notes?.rich_text?.[0]?.text?.content || '';\n  const lastContact = props['Last Contact']?.date?.start || '';\n  return `- ${name}${lastContact ? ` (${lastContact})` : ''}${notes ? `: ${notes}` : ''}`;\n};\n\nconst formatIdea = (item) => {\n  const props = item.json.properties || {};\n  const title = props.Title?.title?.[0]?.text?.content || 'Untitled';\n  const summary = props.Summary?.rich_text?.[0]?.text?.content || '';\n  const category = props.Category?.select?.name || '';\n  return `- ${title}${category ? ` [${category}]` : ''}${summary ? `: ${summary}` : ''}`;\n};\n\nlet content = '';\n\nif (people.length > 0) {\n  content += `PEOPLE MET (${people.length}):\\n`;\n  content += people.map(formatPerson).join('\\n');\n  content += '\\n\\n';\n}\n\nif (ideas.length > 0) {\n  content += `IDEAS & RESOURCES (${ideas.length}):\\n`;\n  content += ideas.map(formatIdea).join('\\n');\n}\n\nreturn [{ json: { isEmpty: false, formattedContent: content, peopleCount: people.length, ideasCount: ideas.length } }];"
      },
      "name": "Format Weekly Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 525]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "leftValue": "={{ $json.isEmpty }}",
              "rightValue": "true",
              "operator": { "type": "boolean", "operation": "false" }
            }
          ]
        }
      },
      "name": "Has Weekly Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 525]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 1000,\n  \"system\": \"You are a proactive Executive Assistant. Create a concise Daily Briefing using this format:\\n\\n## 🌅 Daily Briefing\\n**Top Focus**: [The 1 most critical task based on urgency]\\n\\n### 🚨 Action Required\\n• [Task 1]\\n• [Task 2]\\n\\n### 🧠 New Insights\\n• [Non-actionable notes or ideas]\\n\\n### 👥 Connections\\n• [Any people mentioned]\\n\\n### ⚠️ Cleanup\\n• [Items in Inbox that need manual sorting]\\n\\nBe concise. Focus on actionable insights.\",\n  \"messages\": [{ \"role\": \"user\", \"content\": \"Here are the items from yesterday:\\n\\n{{$json.formattedContent}}\" }]\n}"
      },
      "name": "Generate Daily Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CLAUDE_CREDENTIAL_ID",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 1000,\n  \"system\": \"You are a Strategic Partner. Create a Weekly Strategic Review using this format:\\n\\n## 🗓️ Weekly Strategic Review\\n**Theme of the Week**: [1 sentence observation]\\n\\n### 🤝 New Connections\\n• [Person Name] - [Context]\\n  *Prompt*: Have you followed up with them?\\n\\n### 💡 Ideas Worth Revisiting\\n• [Idea Title]\\n  *Prompt*: Is this ready to become a Project?\\n\\n### 🔮 Next Week's Focus\\n• [Based on patterns, what should be priority?]\\n\\nFocus on connections and patterns, not day-to-day tasks.\",\n  \"messages\": [{ \"role\": \"user\", \"content\": \"Here are the items from the past 7 days:\\n\\n{{$json.formattedContent}}\" }]\n}"
      },
      "name": "Generate Weekly Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 450],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CLAUDE_CREDENTIAL_ID",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_DIGEST_CHANNEL || 'brain-dump' }}",
        "text": "={{ $json.content[0].text }}",
        "otherOptions": {}
      },
      "name": "Post Daily Digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1300, 100],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_DIGEST_CHANNEL || 'brain-dump' }}",
        "text": "={{ $json.content[0].text }}",
        "otherOptions": {}
      },
      "name": "Post Weekly Review",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1300, 450],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_DIGEST_CHANNEL || 'brain-dump' }}",
        "text": "📭 *Daily Briefing*: No new items from yesterday. Enjoy your morning!",
        "otherOptions": {}
      },
      "name": "Post Empty Daily",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1300, 250],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_DIGEST_CHANNEL || 'brain-dump' }}",
        "text": "📭 *Weekly Review*: No new people or ideas logged this week. Time to explore!",
        "otherOptions": {}
      },
      "name": "Post Empty Weekly",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1300, 600],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [100, 700]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_ERROR_CHANNEL || 'brain-dump-errors' }}",
        "text": "=❌ *Digest Workflow Failed*\n\n*Error*: {{$json.error.message}}\n*Node*: {{$json.execution.lastNodeExecuted}}\n\n_Workflow: {{$json.workflow.name}}_",
        "otherOptions": {}
      },
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [300, 700],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule (Daily 8am ET)": {
      "main": [
        [{ "node": "Check Day", "type": "main", "index": 0 }]
      ]
    },
    "Check Day": {
      "main": [
        [
          { "node": "Fetch People (Last 7 Days)", "type": "main", "index": 0 },
          { "node": "Fetch Ideas (Last 7 Days)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Fetch Tasks (Yesterday)", "type": "main", "index": 0 },
          { "node": "Fetch Inbox (Yesterday)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Tasks (Yesterday)": {
      "main": [
        [{ "node": "Format Daily Items", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Inbox (Yesterday)": {
      "main": [
        [{ "node": "Format Daily Items", "type": "main", "index": 0 }]
      ]
    },
    "Format Daily Items": {
      "main": [
        [{ "node": "Has Daily Items?", "type": "main", "index": 0 }]
      ]
    },
    "Has Daily Items?": {
      "main": [
        [{ "node": "Generate Daily Briefing", "type": "main", "index": 0 }],
        [{ "node": "Post Empty Daily", "type": "main", "index": 0 }]
      ]
    },
    "Generate Daily Briefing": {
      "main": [
        [{ "node": "Post Daily Digest", "type": "main", "index": 0 }]
      ]
    },
    "Fetch People (Last 7 Days)": {
      "main": [
        [{ "node": "Format Weekly Items", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Ideas (Last 7 Days)": {
      "main": [
        [{ "node": "Format Weekly Items", "type": "main", "index": 0 }]
      ]
    },
    "Format Weekly Items": {
      "main": [
        [{ "node": "Has Weekly Items?", "type": "main", "index": 0 }]
      ]
    },
    "Has Weekly Items?": {
      "main": [
        [{ "node": "Generate Weekly Review", "type": "main", "index": 0 }],
        [{ "node": "Post Empty Weekly", "type": "main", "index": 0 }]
      ]
    },
    "Generate Weekly Review": {
      "main": [
        [{ "node": "Post Weekly Review", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [
        [{ "node": "Send Error Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "current"
  }
}
